/target
/.classpath
/.project
/.settings
/tomcat.*
/.iml
/.idea/workspace.xml
.DS_Store
orm-test.iml

src/main/webapp/libs/.DS_Store

.idea

.DS_Store

src/main/webapp/coverage

node_modules
*.sublime-project
*.sublime-workspace

.vagrant
